# 目标服务配置
TARGET=http://localhost:8000
STATIC_FILE_TARGET=http://localhost:8000
SHARE_TARGET=http://localhost:8000

# 开发相关
DEV_KB_ID=

# Swagger 配置
SWAGGER_BASE_URL=http://localhost:8000
SWAGGER_AUTH_TOKEN=
